@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
   font-family: "Montserrat", sans-serif;
}

/* GEN */
li, a {
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.container {
  padding: 4rem 0;
  margin-top: 8px;
}

.row {
  padding: 0 24px;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

:root {
  --background-black: #333333;
  --accent-color: #F5EDA7;
  --grey-accent: #a9a9a9;
  --white: #fff;
  --black: #000;
  --artist-card-background: #F2F2F2;
}

.dark-highlight {
  color: var(--grey-accent);
}

.text-highlight {
  color: var(--accent-color);
}

.heading {
  font-size: 48px;
}

.centered-text {
  text-align: center;
}

.sub-heading {
  width: 500px;
  margin-top: 8px;
}

/* Buttons */
.CTA-button {
  padding: 8px 16px;
  border-radius: 4px;
}

.CTA-button-accent {
  background-color: var(--accent-color);
  color: var(--black);
}

.CTA-button-secondary {
  background-color: var(--white);
  color: var(--black);
}


/* NAV */
nav {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  color: var(--white);
  background-color: var(--background-black);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99%;
}

.nav-list {
  display: flex;
  gap: 32px;
  font-size: 14px;
}

/* Hamburger / Modal */
#hamburger-btn,
#close-btn {
  background-color: transparent;
  border: none;
}

#hamburger-btn {
  color: var(--white);
  opacity: 0;
  display: none;
}

#close-btn {
  color: var(--black);
}

#hamburger-btn:hover,
#close-btn {
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: var(--accent-color);
  z-index: 101;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  padding: 24px;
  opacity: 0;
  visibility: hidden;

  transition: opacity 300ms ease, height 300ms ease, visibility 0s ease 300ms;
}

.modal-list {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--black);
  font-size: 14px;
}

.modal.display-modal {
  height: 250px;
  opacity: 1;
  visibility: visible;
  transition: opacity 300ms ease, height 300ms ease, visibility 0s ease 0ms;
}

#name {
  position: absolute;
  left: 24px;
  top: 24px;
  color: var(--black);
}

/* HOME (HERO) */
#home {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--background-black);
  overflow: hidden;
}


/* Hero Gallery Carousel*/
.gallery-track {
  margin-top: 120px;
  display: flex;
  gap: 16px;
  width: max-content;
  animation: scroll 32s linear infinite;
}

.gallery-item {
  flex: 0 0 auto;
  text-align: left;
}

.gallery-item img {
  height: 350px; /* Adjust image size */
  object-fit: cover;
  width: auto;
  border-radius: 8px;
  transition: transform 300ms ease;
}

.gallery-item img:hover {
  transform: scale(1.02);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% - 8px));
  }
}

.hero-text-container {
  bottom: 8px;
  position: absolute;
  padding: 0 8px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  gap: 16px;
}

#title {
  color: var(--white);
  font-size: 64px;
  width: 600px;
}

.hero-CTA-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.hero-text,
.hero-text-2 {
  color: var(--white);
}

.hero-text {
  width: 350px;
}

.hero-text-2 {
  width: 200px;
}

.CTA-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.hero-CTA-line {
  width: 1px;
  height: 100px;
  background-color: var(--white);
  margin-right: 24px;
}


/* Featured Artists */
.featured-artists-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-artists-wrapper {
  margin-top: 80px;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.artist-image-name {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.artist-box {
  position: relative;
  width: 100%;
  padding: 8px;
  background-color: var(--artist-card-background);
  border: 1px solid var(--grey-accent);
  border-radius: 4px;
}

.artist-box .artist-bottom-section {
  border-top: 1px solid var(--grey-accent);
}

.location {
  color: var(--grey-accent);
  font-weight: 300;
}

.special-box {
  background-color: var(--background-black);
  color: var(--white);
}

.special-box .location {
  color: var(--grey-accent);
}

.special-box .artist-bottom-section {
  border-top: 1px solid var(--artist-card-background);
}

.artist-img-wrapper {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 4px;
}

.artist-img-wrapper img {
  width: 100%;
}

.artist-name {
  font-size: 32px;
  margin-bottom: 4px;
}

.artist-bio {
  margin-top: 8px;
  width: 275px;
}

.artist-left-section {
  display: flex;
  flex-direction: column; 
}

.artist-bottom-section {
  margin-top: 65px;
  padding: 8px 0 0 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.style-tag {
  color: var(--grey-accent);
}

.card-showcase-container {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  gap: 8px;
  height: 180px;
}

.card-img-wrapper {
  width: 160px;
  height: 180px;
  overflow: hidden;
  border-radius: 4px;
}

.card-img-wrapper img {
  width: 100%;
}


/* PLATFORM */
#the-platform {
  background-color: var(--background-black);
}

.platform-heading {
  width: 600px;
  color: var(--white);
}

.platform-card-container {
  margin: 80px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.card-box {
  position: relative;
  background-color: var(--accent-color);
  padding: 16px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 120px;
}

.card-title {
  font-weight: 300;
}

.card-info {
  width: 250px;
  font-size: 14px;
}

.card-number {
  position: absolute;
  font-size: 120px;
  bottom: 0;
  right: 24px;
  filter: blur(10px);
  transition: filter 300ms ease;
}

.card-box:hover .card-number {
  cursor: default;
  filter: blur(0px);
}

.why-platform {
  color: var(--white);
  width: 300px;
}

.curation-text-wrapper {
  display: flex;
  gap: 32px;
  margin: 48px 0 48px 0;
}

.curation-text {
  width: 550px;
}

.curation-img-wrapper {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.curation-img-wrapper img {
  width: 100%;
  transition: scale 300ms ease;
}

.curation-img-wrapper:hover img {
  scale: 1.02;
}


/* Built For */

.built-row {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.built-for-row {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.built-for-row h2 {
  width: 300px;
}

.client-point-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.client-point-box {
  width: 450px;
}

.point-title {
  font-weight: 500;
}

.point-info {
  margin-top: 16px;
  color: #4A4A4A;
  font-weight: 300;
}

.built-for-btn {
  width: 160px;
}

.built-for-btn-2 {
  width: 216px;
}

.built-for-row .built-for-heading {
  width: 200px;
}

#artist-program {
  width: 100%;
  height: 1px;
  background-color: var(--background-black);
}

.artist-points-container h3 {
  margin-bottom: 24px;
}

.artist-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.artists-line {
  width: 100%;
  height: 1px;
  background-color: var(--background-black);
}

.join-team-text {
  margin-bottom: 32px;
}

/* footer */
footer {
  border-top: 1px dotted var(--background-black);
  margin: 0 24px;
}

.footer-list {
  display: flex;
  justify-content: space-between;
}

.footer-company-name {
  width: 100%;
  margin: 80px 0 80px 0;
}

.copyright-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}

.policy-pages {
  display: flex;
  gap: 24px;
  align-items: center;
}

.footer-container {
  padding: 4rem 0 8px 0;
}


/* 1370px viewport */
@media (max-width: 1220px){
  .hero-text-container {
  bottom: 24px;
  flex-direction: column;
  left: 8px;
  gap: 24px;
  }

  .card-img-wrapper {
    width: 120px;
    height: 140px;
  }

  .card-number {
    font-size: 60px;
    bottom: 50px;
  }

  .heading {
    font-size: 24px;
  }

  .built-for-row h2 {
    width: 200px;
  }
}

@media (max-width: 1125px) {
  .featured-artists-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .client-point-wrapper,
  .platform-card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  #hamburger-btn {
    display: block;
    opacity: 1;
  }

  .nav-list {
    display: none;
  }

  .card-number {
    filter: none;
    font-size: 120px;
    bottom: 32px;
  }
}

@media (max-width: 650px) {
  .gallery-track {
    margin-top: 80px;
  }

  .gallery-item img {
    height: 280px;
  }

  #title {
    font-size: 32px;
    width: 300px;
  }

  p, a {
    font-size: 14px;
  }

  .hero-CTA-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-CTA-line {
    width: 200px;
    height: 1px;
    margin: 24px 0;
  }

  .platform-heading {
    width: 300px;
  }

  .card-number {
    font-size: 60px;
    top: 0;
  }

  .card-title {
    width: 200px;
  }

  .curation-text-wrapper {
    flex-direction: column;
  }

  .curation-text {
    width: 100%;
  }

  .built-for-row {
    flex-direction: column;
  }

  .client-point-box {
    width: 100%;
  }

  .row {
    padding: 0 8px;
  }

  footer {
    margin: 0 8px;
  }

  .sub-heading {
    width: 100%;
  }

  .artists-line {
    width: 80%;
  }

  #built-for .container {
    padding-top: 1rem;
  }
}

@media (max-width: 575px) {
  .artist-bottom-section {
    margin-top: 8px;
  }

  .artist-left-section {
    margin-top: 200px;
  }

  .card-showcase-container {
    left: 4px;
    right: 4px;
    top: 0;
  }

  .card-img-wrapper {
    width: 100%;
    height: 165px;
  }

  .style-tag,
  .footer-list a  {
    font-size: 12px;
  }

  .copyright-wrapper p,
  .policy-pages a {
    font-size: 8px;
  }
}