@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
   font-family: "Montserrat", sans-serif;
}

/* GEN */
li, a {
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.container {
  padding: 4rem 0;
  margin-top: 8px;
}

.row {
  padding: 0 24px;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

:root {
  --background-black: #333333;
  --gold-color: #FFD900;
  --white: #fff;
  --black: #000;
  --artist-card-background: #F2F2F2;
  --secondary-text: #5B5B5B;
}

