@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
   font-family: "Montserrat", sans-serif;
}

/* GEN */
li, a {
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.container {
  padding: 4rem 0;
  margin-top: 8px;
}

.row {
  padding: 0 24px;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

:root {
  --background-black: #333333;
  --accent-color: #F5EDA7;
  --grey-accent: #a9a9a9;
  --white: #fff;
  --black: #000;
  --artist-card-background: #F2F2F2;
}

.dark-highlight {
  color: var(--grey-accent);
}

.text-highlight {
  color: var(--accent-color);
}

.heading {
  font-size: 48px;
}

.centered-text {
  text-align: center;
}

.sub-heading {
  width: 500px;
}

/* Buttons */
.CTA-button {
  padding: 8px 16px;
  border-radius: 4px;
}

.CTA-button-accent {
  background-color: var(--accent-color);
  color: var(--black);
}

.CTA-button-secondary {
  background-color: var(--white);
  color: var(--black);
}


/* NAV */
nav {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  color: var(--white);
  background-color: var(--background-black);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99%;
}

.nav-list {
  display: flex;
  gap: 32px;
  font-size: 14px;
}

/* HOME (HERO) */
#home {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--background-black);
  overflow: hidden;
}


/* Hero Gallery Carousel*/
.gallery-track {
  margin-top: 120px;
  display: flex;
  gap: 16px;
  width: max-content;
  animation: scroll 32s linear infinite;
}

.gallery-item {
  flex: 0 0 auto;
  text-align: left;
}

.gallery-item img {
  height: 350px; /* Adjust image size */
  object-fit: cover;
  width: auto;
  border-radius: 8px;
  transition: transform 300ms ease;
}

.gallery-item img:hover {
  transform: scale(1.02);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% - 8px));
  }
}

.hero-text-container {
  bottom: 8px;
  position: absolute;
  padding: 0 8px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.hero-text-container h1 {
  color: var(--white);
  font-size: 64px;
  width: 600px;
}

.hero-CTA-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.hero-text,
.hero-text-2 {
  color: var(--white);
}

.hero-text {
  width: 350px;
}

.hero-text-2 {
  width: 200px;
}

.CTA-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.hero-CTA-line {
  width: 1px;
  height: 100px;
  background-color: var(--white);
  margin-right: 24px;
}


/* Featured Artists */
.featured-artists-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-artists-wrapper {
  margin-top: 80px;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.artist-image-name {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.artist-box {
  position: relative;
  width: 100%;
  padding: 8px;
  background-color: var(--artist-card-background);
  border: 1px solid var(--grey-accent);
  border-radius: 4px;
}

.artist-box .artist-bottom-section {
  border-top: 1px solid var(--grey-accent);
}

.location {
  color: var(--grey-accent);
  font-weight: 300;
}

.special-box {
  background-color: var(--background-black);
  color: var(--white);
}

.special-box .location {
  color: var(--grey-accent);
}

.special-box .artist-bottom-section {
  border-top: 1px solid var(--artist-card-background);
}

.artist-img-wrapper {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 4px;
}

.artist-img-wrapper img {
  width: 100%;
}

.artist-name {
  font-size: 32px;
  margin-bottom: 4px;
}

.artist-bio {
  margin-top: 8px;
  width: 275px;
}

.artist-left-section {
  display: flex;
  flex-direction: column; 
}

.artist-bottom-section {
  margin-top: 48px;
  padding: 8px 0 0 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.style-tag {
  color: var(--grey-accent);
}

.card-showcase-container {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  gap: 8px;
  height: 180px;
}

.card-img-wrapper {
  width: 160px;
  height: 180px;
  overflow: hidden;
  border-radius: 4px;
}

.card-img-wrapper img {
  width: 100%;
}


/* PLATFORM */
#the-platform {
  background-color: var(--background-black);
}

.platform-heading {
  width: 600px;
  color: var(--white);
}

.platform-card-container {
  margin: 80px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.card-box {
  position: relative;
  background-color: var(--accent-color);
  padding: 16px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 120px;
}

.card-title {
  font-weight: 300;
}

.card-info {
  width: 250px;
  font-size: 14px;
}

.card-number {
  position: absolute;
  font-size: 120px;
  bottom: 0;
  right: 24px;
  filter: blur(10px);
  transition: filter 300ms ease;
}

.card-box:hover .card-number {
  cursor: default;
  filter: blur(0px);
}

.why-platform {
  color: var(--white);
  width: 300px;
}

.curation-text-wrapper {
  display: flex;
  gap: 32px;
  margin: 48px 0 48px 0;
}

.curation-text {
  width: 550px;
}

.curation-img-wrapper {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.curation-img-wrapper img {
  width: 100%;
  transition: scale 300ms ease;
}

.curation-img-wrapper:hover img {
  scale: 1.02;
}


/* Built For */
.built-for-row {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.built-for-row h2 {
  width: 300px;
}

.client-point-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.client-point-box {
  width: 450px;
}

.point-info {
  margin-top: 16px;
  color: #4A4A4A;
}
